---
layout: default
---

<section id="top">
  <div class="jumbotron">
    <div class="container">
      <h1>Minetest-JP</h1>
    </div>
  </div>
</section>

<div class="content">
  <div class="container">
    <section id="about">
      <h2>About</h2>
      <p>
	Minetest-JPは日本のMinetestMODクリエイターが集まるコミュニティーです。
      </p>
    </section>

    <section id="projects">
      <h2>Projects</h2>
      {% for repository in site.github.public_repositories %}
      {% if repository.name != site.github.project_title %}
      <h3><a href="{{ repository.html_url }}">{{ repository.name }}</a></h3>
      {% endif %}
      {% endfor %}
    </section>

    <section id="members">
      <h2>Members</h2>
      {% for member in site.github.organization_members %}
      <h3><a href="{{ member.html_url }}">{{ member.login }}</a></h3>
      {% endfor %}
    </section>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Copyright © 2016 Minetest-JP Team. All Rights Reserved.</p>
  </div>
</footer>


